:root {
  
  --neon-blue: #00FFFF;
  --cyan: #007C7C;
  --mint: #7BFFAD;
}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}

#container {
   margin: 100px;
   text-align: center;
}

.img-ashley {
   align-items: center;
}